:root {
    --green: #283618;
    --font: 26px;
    --bg-green: #87986A;

}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: #E9F5DB;
    color: var(--green);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    background-color: #87986A;
    color: var(--green);
}

header h1 {
    font-size: var(--font);
    background-color: #CCD5AE;
    width: 20%;
    margin: 0;
    padding: 5px;
    text-align: center;
}

header nav ul {
    position: absolute;
    right: 50px;
    top: -13px;

}

header nav li {
    display: inline-block;
    padding-right: 20px;

}

header nav a {
    color: var(--green);
    font-size: 26px;
    font-weight: bold;

}

.hero-banner {
    position: relative;
    width: 100%;
    height: 576px;
    background: url(./images/hero1.jpg);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text h2 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: var(--bg-green);
    width: 25%;
    text-align: center;
}

.main-content {
    position: relative;
    display: flex;
    width: 100%;
}

.left-title {
    font-size: var(--font);
    font-weight: bold;
    text-align: right;
    width: 20%;
    position: relative;
    margin: 0 auto;
    padding-left: 2vw;
    margin-right: 20px;
}

.about,
.work {
    padding: 5px;
    padding-right: 20px;
    border-right: 4px solid var(--green);
    margin-top: 10px;
    margin-bottom: 50px;


}


.about {
    height: 150px;
}


.work {
    height: 85%;

}


.right-content {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
    width: 90%;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
}

.about-text h3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: justify;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 10px;
}

.work1-img {
    background-image: url(./images/work1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    position: relative;
}

.work1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    bottom: 20px;
    width: 125px;
    color: var(--green);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-green);
    line-height: 1;
    margin: 10px;

}



.work-section2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.work2-img {
    background-image: url(./images/work2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    flex: 1;
    margin-right: 5px;


}

.work2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    width: 125px;
    color: var(--green);
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: var(--bg-green);
    line-height: 1;
    margin: 10px;
}





.work3-img {
    background-image: url(./images/work3.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    align-self: flex-end;
    float: right;
    position: relative;
    flex: 1;


}

.work3 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: right;
    height: 125px;
    width: 125px;
    color: var(--green);
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: var(--bg-green);
    line-height: 1;
    margin: 10px;

}


.work-section3 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.work4-img {
    background-image: url(./images/1work.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    flex: 1;
    margin-right: 5px;

}

.work4 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    width: 125px;
    color: var(--green);
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: var(--bg-green);
    line-height: 1;
    margin: 10px;

}

.work5-img {
    background-image: url(./images/work5.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    align-self: flex-end;
    float: right;
    position: relative;
    flex: 1;


}

.work5 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: right;
    height: 125px;
    width: 125px;
    color: var(--green);
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: var(--bg-green);
    line-height: 1;
    margin: 10px;


}

footer {
    display: flex;
    height: 20vh;
    color: var(--green);
    margin-top: 5vh;
}

.page-contact {
    display: flex;
    height: 50px;
    width: 81vw;
    align-self: center;
}

.contact {
    display: flex;
    border-right: 4px solid var(--green);
    margin-left: auto;
    padding-right: 20px;
}

footer h3 {
    font-size: var(--font);
    font-weight: bold;
    line-height: 1;
    text-align: right;
}

footer a {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: var(--green);
}


/* Mobile */

@media only screen and (max-width: 760px) {


    header h1 {
        width: 35%;
    }

    header nav ul {
        display: flex;
        width: 50%;
        margin-left: auto;
    }

    header nav a {
        font-size: 18px;
        line-height: 2;
    }

    .hero-banner {
        display: flex;
        width: 100%;
        align-content: center;
        height: 250px;
    }

    .left-title {
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .about-text h3 {
        height: 250px;
        font-size: 14px;
        padding: 10px;
        text-align: justify;
        margin-bottom: 35px;
    }

    .about {
        height: 250px;
        margin-bottom: 20px;

    }

    .work {
        height: 650px;

    }


.work1-img,
.work2-img,
.work3-img,
.work4-img,
.work5-img {
    height: 200px;
    padding: 10px;
    margin: 10px;

}

.footer {}

.contact h3 {
    font-size: 18px;
}

.contact {
    margin-left: -20px;
    padding-right: 10px;
}

footer a {

    font-size: 16px;
}

}


/* Tablet IPad */
@media only screen and (min-width: 768px) and (max-width:1000px) {
    .about-text h3 {
        height: 300px;
        margin-bottom: 60px;
    }

    .about {
        height: 300px;

    }

    .work1-img,
    .work2-img,
    .work3-img,
    .work4-img,
    .work5-img {

        height: 300px;
    }

    .work {
        height: 73%;
    }

    .contact h3 {
        display: flex;
        align-items: center;
    }

    .contact {
        margin-left: -20px;
        padding: 14px;
    }
}