* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: #E9F5DB;
    color: #283618;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    background-color:#87986A;
    color: #283618;
}

header h1 {
    font-size: 55px;
    background-color: #CCD5AE;
    width: 25%;
    margin: 0;
    padding: 5px;
    text-align: center;
}

header nav ul {
    position: absolute;
    right: 50px;
    top: 15px;

}

header nav li {
    display: inline-block;
    padding-right: 20px;

}

header nav a {
    color: #283618;
    font-size: 25px;
    font-weight: bold;

}

.hero-banner {
    position: relative;
    width: 100%;
    height: 576px;
    background: url(./images/hero1.jpg);
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text h2 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: #87986A;
    width: 25%;
    text-align: center;
}

.main-content {
    position: relative;
    display: flex;
    width: 100%;
}

.left-title {
    font-size: 45px;
    font-weight: bold;
    text-align: right;
    width: 20%;
    position: relative;
    margin: 0 auto;
    padding-left: 2vw;

}

.about h3,
.work {
    padding: 5px;
    padding-right: 20px;
    border-right: 4px solid #283618;
    margin-top: 10px;
    margin-bottom: 50px;


}




.about {
    height: 200px;

}


.work {
    height: 84%;

}


.right-content {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
    width: 90%;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
}

.about-text h3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 20px;
}

.work1-img {
    background-image: url(./images/work1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    position: relative;
}

.work1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    bottom: 20px;
    width: 125px;
    color: #283618;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #87986A;
    line-height: 1;
    margin:10px;

}



.work-section2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.work2-img {
    background-image: url(./images/work2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    flex: 1;
    margin-right: 5px;


}

.work2 {
    display: flex;  
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    width: 125px;
    color: #283618;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #87986A;
    line-height: 1;
    margin: 10px;
}





.work3-img {
    background-image: url(./images/work3.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    align-self: flex-end;
    float: right;
    position: relative;
    flex: 1;


}

.work3 {
    display: flex;  
    flex-direction: column;
    align-self: flex-end;
    align-items: right;
    height: 125px;
    width: 125px;
    color: #283618;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #87986A;
    line-height: 1;
    margin: 10px;


}


.work-section3 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.work4-img {
    background-image: url(./images/1work.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    flex: 1;
    margin-right: 5px;

}

.work4 {
    display: flex;  
    flex-direction: column;
    align-self: flex-end;
    height: 125px;
    width: 125px;
    color: #283618;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #87986A;
    line-height: 1;
    margin: 10px;

}

.work5-img {
    background-image: url(./images/work5.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 50vh;
    width: 100%;
    border: 5px solid;
    display: flex;
    align-self: flex-end;
    float: right;
    position: relative;
    flex: 1;


}

.work5 {
    display: flex;  
    flex-direction: column;
    align-self: flex-end;
    align-items: right;
    height: 125px;
    width: 125px;
    color: #283618;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #87986A;
    line-height: 1;
    margin: 10px;


}

footer {
    display: flex;
    height: 20vh;
    color: #283618;
    margin-top: 5vh;
    width: 100vw;
    width:max-content;

    
}

.page-contact {
    display: flex;
    height: 50px;
    width: 85vw;
    align-self: center;
}

.contact {
    display: flex;
    border-right: 4px solid #283618;
    text-align: right;
    width: 15vw;
    margin-left: -1.5vw;
}

footer h3 {
    font-size: 45px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 1;

}

footer a {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: #283618;
    
}

@media all screen {}